.headerHome,
.header {
    .header--search {
        position: relative;
        .header--search-input {
            height: 28px;
            font-family: Quicksand;
            font-size: 13px;
            font-weight: 500;
            padding: 0 12px 0 30px;
            outline: none;
            border: none;
        }
        .icon.fa-search {
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.8;
        }
    }
}

.header {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 10px;
    .header--search {
         ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #fff;
            opacity: 0.8;
            /* Firefox */
        }
         :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff;
            opacity: 0.8;
        }
         ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #fff;
            opacity: 0.6;
        }
    }
    .header--subpage {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon.fa-chevron-left {
            font-size: 14px;
            width: 16px;
        }
        .header--subpage-title {
            width: calc(100% - 32px);
            font-size: 16px;
            line-height: 1.19;
        }
        .icon.fa-search {
            font-size: 16px;
            width: 16px;
        }
    }
}

.headerHome {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    .header--search {
        .icon {
            color: #aeaeae;
        }
    }
    .header--back {
        color: #f3eaea;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon {
            font-size: 14px;
            width: 20px;
        }
    }
}