.modal {
    position: fixed;
    width: calc(100% - 20px);
    left: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999;
    .modal-title {
        line-height: 1.23;
        color: #545252;
        margin-bottom: 10px;
    }
    &.hideModal {
        transform: translateY(calc(100% + 60px));
        visibility: hidden;
        opacity: 0;
        +.modal-backdrop {
            display: none;
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
    background-color: #000;
    opacity: 0.5;
    transition: all 0.5s ease;
}


/* Modal in Product list */

.productModal {
    bottom: 60px;
    transform: translateY(0);
    .modal-title {
        font-size: 13px;
    }
    .modal-body {
        font-size: 0;
        margin-bottom: -10px;
        .productModal--body-item {
            display: inline-block;
            width: 50%;
            font-size: 13px;
            vertical-align: middle;
            padding: 10px 25px;
        }
    }
}


/* Modal in Homepage first */

.hompageModal {
    top: 50%;
    transform: translateY(-50%);
    padding: 40px !important;
    .modal-title {
        font-size: 14px;
    }
    .modal-body {
        font-size: 0;
        margin: 0 -15px;
        .hompageModal--body-item {
            display: inline-block;
            width: 50%;
            font-size: 13px;
            vertical-align: middle;
            padding: 20px 15px 0 15px;
        }
    }
}